<h1>Teams</h1>

<ul data-role="listview" data-inset="true" data-filter="true">
  <% @teams.each do |team| %>
    <li><%= link_to team.formalname, team %></li>
  <% end %>
  <%#= content_tag(:li, fa_icon("check", text: "Bulleted list item")) %>
</ul>

<h2>Team Administration</h2>

<div data-role="collapsible-set">
    <% @teams.each do |team| %>
<div data-role="collapsible" data-collapsed="true">
  <h2><%= h team.formalname %></h2>
      <%#= link_to 'Show', team, :'data-role' => 'button', :'data-icon' => 'info', :'data-inline' => "true" %>
         <%= link_to 'Edit', edit_team_path(team), :'data-role' => 'button', :'data-icon' => 'refresh', :'data-inline' => "true" %>
         <%= link_to 'Delete', team, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "true", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
    <% end %>
</div>

<br>

<%= link_to 'New Team', new_team_path, :'data-role' => 'button', :'data-icon' => 'plus' %>
<%#= link_to fa_icon("camera-retro fw") + 'New Team', new_team_path, :'data-role' => 'button', :'data-icon' => 'plus' %>
