<p id="notice"><%= notice %></p>

<div data-role="header">
<h1><%=h @team.formalname %></h1>
</div>

<ul data-role="listview" data-inset="true">
  <% if !@team.url.blank? %>
    <li><a  href="<%= sprintf("%s", @team.url) %>">Team Web Site</a><span class="ui-li-aside data-rel="external""><%= @team.url %></span></li>
  <% end %>
  <% if !@team.twitter.blank? %>
    <li><a  href="<%= sprintf("https://twitter.com/%s", @team.twitter.delete("@")) %>" data-rel="external">Team Twitter Handle</a><span class="ui-li-aside"><%= @team.twitter %></span></li>
  <% end %>
  <li><a href="#">Coaching Staff</a></li>
  <li><%#= link_to 'Coaching Staff', staff_team(@team) %></a></li>
  <li><a href="#">Roster</a></li>
  <li><a href="#">Schedule</a></li>
</ul>

<p>
  <strong>Active:</strong>
  <%= @team.active %>
</p>

<h2>Team Administration</h2>
<%= link_to 'Edit', edit_team_path(@team), :'data-role' => 'button', :'data-inline' => "true" %>
<%= link_to 'Back', teams_path, :'data-role' => 'button', :'data-inline' => "true" %>
