<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team.formalname %>
</p>

<p>
  <strong>Team Web Site:</strong>
  <%= @team.url %>
</p>

<p>
  <strong>Team Twitter Handle:</strong>
  <%= @team.twitter %>
</p>

<p>
  <strong>Active:</strong>
  <%= @team.active %>
</p>

<%= link_to 'Edit', edit_team_path(@team), :'data-role' => 'button' %>
<%= link_to 'Back', teams_path, :'data-role' => 'button' %>
