<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @team.sport_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @team.active %>
</p>

<p>
  <strong>Url:</strong>
  <%= @team.url %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @team.twitter %>
</p>

<%= link_to 'Edit', edit_team_path(@team), :'data-role' => 'button' %>
<%= link_to 'Back', teams_path, :'data-role' => 'button' %>
