<h1>Listing Team Coaches</h1>

<table>
  <thead>
    <tr>
      <th>Team ID</th>
      <th>Coach ID</th>
      <th>Head Coach</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coaches_teams.each do |coaches_team| %>
      <tr>
        <td><%= coaches_team.team.formalname %></td>
        <td><%= coaches_team.coach.fullname %></td>
        <td><%= coaches_team.headcoach %></td>
        <td><%= link_to 'Show', coaches_team %></td>
        <td><%= link_to 'Edit', edit_coaches_team_path(coaches_team) %></td>
        <td><%= link_to 'Destroy', coaches_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-bar">
  <%= link_to 'Add Coach to Team', new_coaches_team_path, :'data-role' => "button", :'data-icon' => "plus" %>
</div>

