<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @coaches_team.team.formalname %>
  <strong>Coach:</strong>
  <%= @coaches_team.coach.fullname %>
  <strong>Headcoach:</strong>
  <%= @coaches_team.headcoach %>
</p>

<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-bar">
  <%= link_to 'Back', coaches_teams_path, :'data-role' => "button", :'data-icon' => "back" %>
  <%= link_to 'Edit', edit_coaches_team_path(@coaches_team), :'data-role' => "button", :'data-icon' => "edit" %>
</div>

