<h1>Coaches</h1>

<ul data-role="listview" data-inset="true" data-filter="true" data-autodividers="true">
  <% @coaches.each do |coach| %>
    <li><%= link_to coach.fullname, coach %></li>
  <% end %>
  <%#= content_tag(:li, fa_icon("check", text: "Bulleted list item")) %>
</ul>

<h2>Coach Administration</h2>

<div data-role="collapsible-set" data-autodividers="true">
    <% @coaches.each do |coach| %>
<div data-role="collapsible" data-collapsed="true">
  <h2><%= h coach.fullname %></h2>
      <%#= link_to 'Show', coach, :'data-role' => 'button', :'data-icon' => 'info', :'data-inline' => "true" %>
         <%= link_to 'Edit', edit_coach_path(coach), :'data-role' => 'button', :'data-icon' => 'refresh', :'data-inline' => "true" %>
         <%= link_to 'Delete', coach, :'data-role' => 'button', :'data-icon' => 'delete', :'data-inline' => "true", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
    <% end %>
</div>

<div data-role="footer" data-position="fixed" class="ui-bar">
  <%= link_to 'New Coach', new_coach_path, :'data-role' => 'button', :'data-icon' => 'plus' %>
</div>

