<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @coach.firstname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @coach.middlename %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @coach.lastname %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @coach.nickname %>
</p>

<p>
  <strong>Active:</strong>
  <%= @coach.active %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @coach.email %>
</p>

<p>
  <strong>Twitter Handle:</strong>
  <%= @coach.twitter %>
</p>

<p>
  <b>Teams:</b>
  <% if @coach.teams.count > 0 %>
    <%= @coach.teams.collect {|t| link_to(t.formalname, t)}.join(", ").html_safe %>
    <ul data-role="listview" data-inset="true" data-filter="true">
      <% @coach.teams.each do |t| %>
        <li><%= link_to(t.formalname, t) %></li>
      <% end %>
    </ul>
  <% else %>
    Not currently on any coaching staff.
  <% end %>
</p>


<%= link_to 'Edit', edit_coach_path(@coach), :'data-role' => 'button', :'data-inline' => true %>
<%= link_to 'Teams', teams_coach_path(@coach), :'data-role' => 'button', :'data-inline' => true %>
<%= link_to 'Back', coaches_path, :'data-role' => 'button', :'data-inline' => true %>
