<%= form_for(@athletes_team) do |f| %>
  <% if @athletes_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@athletes_team.errors.count, "error") %> prohibited this athletes_team from being saved:</h2>

      <ul>
      <% @athletes_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain" class="field">
    <%= f.label :team_id, "Team" %><br>
    <%= f.collection_select :team_id, Team.all, :id, :formalname %>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :athlete_id, "Athlete" %><br>
    <%= f.collection_select :athlete_id, Athlete.all, :id, :lastcommafirst%>
  </div>
  <div data-role="fieldcontain" class="field">
    <%= f.label :captain %><br>
    <%= f.check_box :captain %>
  </div>
  <div class="actions">
    <%= f.submit "Save Athlete Team Assignment" %>
  </div>
<% end %>
