<!--
<p>
    <a#%= link_to 'Home', teams_path %> |
    <a#%= link_to 'Teams', teams_path %> |
    <a#%= link_to 'Athletes', athletes_path %> |
    <a#%= link_to 'Coaches', coaches_path %>
</p>
-->
<div data-role="navbar">
  <ul>
    <li><%= link_to 'Sports', sports_path, :'data-icon' => 'info', :'data-transition' => 'slide' %></li>
    <li><%= link_to 'Teams', teams_path, :'data-icon' => 'info', :'data-transition' => 'slide' %></li>
    <li><%= link_to 'Athletes', athletes_path, :'data-icon' => 'user', :'data-transition' => 'slide' %></li>
    <li><%= link_to 'Coaches', coaches_path, :'data-icon' => 'user', :'data-transition' => 'slide' %></li>
    <li><%= link_to 'Venues', venues_path, :'data-icon' => 'location', :'data-transition' => 'slide' %></li>
  </ul>
</div><!-- "navbar" -->
